In [8]:
import pandas as pd

# Create a DataFrame with Pokémon names and their HP
df = pd.DataFrame({
    'pokemon': [
        "Bulbasaur", "Ivysaur", "Venusaur", "Charmander", "Charmeleon", 
        "Charizard", "Squirtle", "Wartortle", "Blastoise", "Caterpie", 
        "Metapod", "Butterfree", "Weedle", "Kakuna", "Beedrill", 
        "Pidgey", "Pidgeotto", "Pidgeot", "Rattata", "Raticate",
        "Spearow", "Fearow", "Ekans", "Arbok", "Pikachu", 
        "Raichu", "Sandshrew", "Sandslash", "Nidoran♀", "Nidorina", 
        "Nidoqueen", "Nidoran♂", "Nidorino", "Nidoking", "Clefairy",
        "Clefable", "Vulpix", "Ninetales", "Jigglypuff", "Wigglytuff",
        "Zubat", "Golbat", "Oddish", "Gloom", "Vileplume",
        "Paras", "Parasect", "Venonat", "Venomoth", "Diglett"
    ],
    'hp': [
        45, 60, 80, 39, 58, 
        78, 44, 59, 79, 45, 
        50, 60, 40, 45, 65, 
        40, 63, 83, 30, 55,
        40, 65, 35, 60, 35, 
        60, 50, 75, 55, 70, 
        90, 46, 61, 81, 70, 
        95, 38, 73, 115, 140,
        40, 75, 45, 60, 75, 
        35, 60, 60, 70, 10
    ]
})

In [9]:
df

          name   hp
0    Bulbasaur   45
1      Ivysaur   60
2     Venusaur   80
3   Charmander   39
4   Charmeleon   58
5    Charizard   78
6     Squirtle   44
7    Wartortle   59
8    Blastoise   79
9     Caterpie   45
10     Metapod   50
11  Butterfree   60
12      Weedle   40
13      Kakuna   45
14    Beedrill   65
15      Pidgey   40
16   Pidgeotto   63
17     Pidgeot   83
18     Rattata   30
19    Raticate   55
20     Spearow   40
21      Fearow   65
22       Ekans   35
23       Arbok   60
24     Pikachu   35
25      Raichu   60
26   Sandshrew   50
27   Sandslash   75
28    Nidoran♀   55
29    Nidorina   70
30   Nidoqueen   90
31    Nidoran♂   46
32    Nidorino   61
33    Nidoking   81
34    Clefairy   70
35    Clefable   95
36      Vulpix   38
37   Ninetales   73
38  Jigglypuff  115
39  Wigglytuff  140
40       Zubat   40
41      Golbat   75
42      Oddish   45
43       Gloom   60
44   Vileplume   75
45       Paras   35
46    Parasect   60
47     Venonat   60
48    Venomoth   70
49     Diglett   10